{% extends "layout.html" %}

{% load static %}

{% block body %}


<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">

						</div>
					</div>
				</div>
			</div>


    <div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">



            <h2 class="p-3">Our Products</h2><br><br>

            {% if data  %}


            <div class="row w-100">
                {% for product in data %}

                    <div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'Shop:cart' %}">
							<img src="/media/{{ product.image }}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{ product.name }}</h3>
							<strong class="product-price">{{ product.Price }}</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>

                {% endfor %}


            </div>


             {% else %}

               <h3 class="text-danger">No record matching your query was found</h3>

            {% endif %}





                	</div>
		    </div>
		</div>







{% endblock %}